# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr

# BSP (Build Server Protocol) directory
.bsp/

# Target directory
target/
project/target/
project/project/
.idea/
*.iml
*.class
*.log
*.bak
.DS_Store
.cache
.history
.lib/
dist/
.paths
.tags
*.gen
*.bak
*.swp
*.hprof
*.orig
.rej
~
*.~lock.*
*.plastic*

# sbt specific
.sbt
.sbtserver
.swo
.swn
